body {
    background-color: rgba(20, 8, 15, 0.95);
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#container {
    width: 80em;
}

#text > span:first-child {
    display: block;
    width: 100%;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(250, 8, 40, 0.50),  0 0 10px rgba(255,255,255, 0.25);
    font-size: 2em;
    color: rgba(250, 8, 40, 0.95);
}

#text > span:nth-child(2) {
    color: white;
    padding: 0.75em 0.75em 0.75em 0;
    display: block;
}

#names {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#names > a {
    display: block;
    flex-grow: 1;
    background-color: red;
    padding: 0.75em 1em;
    margin: 4px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
}